.header{
    padding: 5px 10px;
    border-bottom: 1px lightgray solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header>div{
    display: flex;
    align-items: center;
}